.coffees {
    background-image: linear-gradient(rgba(61, 39, 4, 0.356), rgba(105, 70, 6, 0.164)), url(images/beansss.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;

}


.coffee-types {
    font-size: 50px;
    padding-block: 3rem;
    display: flex;
    justify-content: center;
}

.coffee-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2em;
    margin-inline: 10em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/*@media(max-width: 1370px) {}*/

.coffee-grid img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin: 20px;

}

.display-coffee {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;

}

.coffee-name {
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px rgb(109, 66, 17);
    transition: color, 0.5s;
}

a {
    text-decoration: none;
    text-align: center;
}

.coffee-name:hover {
    color: black;
    text-shadow: none;
    cursor: pointer;
}

.kapsule {
    background-image: linear-gradient(rgba(61, 39, 4, 0.795), rgba(0, 0, 0, 0.486)), url(images/coffee-machine.jpg);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    padding-bottom: 30px;
    text-align: center;
}

.kapsule-naslov,
.gshop-naslov {
    font-size: 50px;
    padding-top: 3rem;

}

.gshop-naslov {
    padding-bottom: 50px;
}

.kapsule-podnaslov {
    font-size: 25px;
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px rgba(165, 42, 42, 0.437);
    padding-bottom: 3rem;
}


.coffee-price {
    color: white;
    font-size: 20px;
}

.gift-shop {
    background-image: linear-gradient(rgba(61, 39, 4, 0.795), rgba(0, 0, 0, 0.486)), url(gift-shop/background-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}



.gift-shop-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
}

@media(max-width: 1380px) {
    .display-coffee-gs {

        flex-basis: 33.33%;

    }
}

@media(max-width: 1050px) {
    .display-coffee-gs {

        flex-basis: 50%;
    }

    .gift-shop {
        background-repeat: repeat;
    }
}

@media(max-width: 700px) {
    .display-coffee-gs {

        flex-basis: 100%;

    }

    .gift-shop {
        background-repeat: repeat;
    }
}

.kapsule-grid {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 2em;
    margin-inline: 20em;
}


@media (max-width:1290px) {
    .kapsule-grid {
        margin: 0;
        grid-template-columns: 1fr;
    }

    .kapsule {
        background-repeat: repeat;
    }
}

/*
@media (max-width: 1230px) {
    .kapsule-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 780px) {
    .kapsule-grid {
        grid-template-columns: 1fr;
    }
}
*/

.display-coffee-gs {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.coffee-price {
    cursor: default;
}